.join-community-parent{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.join-community-heading{
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.join-community-input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}